<%- include ../../partials/header.ejs %>
    <%- include ../../partials/navbar.ejs %>
        <%- include ../../partials/sidebar.ejs %>
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Bank</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/bank">Bank</a></li>
                                    <li class="breadcrumb-item active">Edit Bank</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit bank form "<%= bank.name %>"</h3>
                                    </div>
                                    <!-- Edit Bank -->
                                    <form action="/bank/edit/<%= bank._id %>?_method=PUT" method="post">
                                        <div class="card-body">

                                            <div class="form-group">
                                                <label for="name">Owner name</label>
                                                <input type="text" name="name" value="<%= bank.name %>"
                                                    class="form-control" id="name" placeholder="Enter owner name"
                                                    required>
                                            </div>

                                            <div class="form-group">
                                                <label>Bank name</label>
                                                <select class="form-control select2" style="width: 100%;"
                                                    name="bankName" required>
                                                    <option selected="selected">Choose bank</option>
                                                    <option value="Mandiri" <% if (bank.bankName==='Mandiri' ) { %>
                                                        selected
                                                        <% } %>
                                                            >
                                                            Mandiri
                                                    </option>
                                                    <option value="BNI" <% if (bank.bankName==='BNI' ) { %>
                                                        selected
                                                        <% } %>
                                                            >
                                                            BNI
                                                    </option>
                                                    <option value="BRI" <% if (bank.bankName==='BRI' ) { %>
                                                        selected
                                                        <% } %>
                                                            >
                                                            BRI
                                                    </option>
                                                    <option value="BCA" <% if (bank.bankName==='BCA' ) { %>
                                                        selected
                                                        <% } %>
                                                            >
                                                            BCA
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="accountNumber">Account number</label>
                                                <input type="number" name="accountNumber"
                                                    value="<%= bank.accountNumber %>" class="form-control"
                                                    id="accountNumber" placeholder="Enter account number" required>
                                            </div>

                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <%- include ../../partials/footer.ejs %>
                <%- include ../../partials/js.ejs %>